@import 'tailwindcss';

@custom-variant dark (&:where(.dark &));

/* Optionnel : variables si tu veux */
:root {
  --background: rgb(182, 153, 153);
  --foreground: black;
}

.dark {
  --background: rgb(22, 22, 22);
  --foreground: white;
}

/* Custom color variables for themes */
@theme {
  /* First color : indigo */
  --color-custom-1: #7e47ff; /* indigo-600 */
  --color-custom-1-hover: #6b3edc; /* indigo-700 */
  --color-custom-1-dark: #9a7fff; /* indigo-400 */
  --color-custom-1-dark-hover: #7e47ff; /* indigo-500 */

  /* Second color : orange */
  --color-custom-2: #f26e52;
  --color-custom-2-hover: #d6553a;
  --color-custom-2-dark: #f57d65;
  --color-custom-2-dark-hover: #f26e52;

  /* INFO : backgrounds are : white for light theme and dark gray for dark theme */
}
